<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Michael-the-W/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Michael-the-W" />
			<add key="ClearTextPassword" value="8933477186e10aa0b4c8edcf5e905f35e05a5078" />
		</github>
	</packageSourceCredentials>
</configuration>
